<!doctype html>
<title>Image Repository</title>
<h2>Select inventory(s) to sell</h2>
<p>
	{% with msgs = get_flashed_messages() %}
	  {% if msgs %}
		<ul class=flashes style='color: red'>
		{% for msg in msgs %}
		  <li>{{ msg }}</li>
		{% endfor %}
		</ul>
	  {% endif %}
	{% endwith %}
</p>
<form method="post" action="/" enctype="multipart/form-data">
    <dl>
		<p>
			<input type="file" name="imgs" multiple="true" autocomplete="off" required>
		</p>
    </dl>
    <p>
		<input type="submit" value="Submit">
	</p>
</form>


{% if filenames %}
    <h2> You just uploaded </h2>
    {% for filename in filenames %}
		<div>
			<img src="{{ url_for('display_image', filename=filename) }}">
		</div>
	{% endfor %}
{% endif %}